doctype html
html
  head
    title Welcome
    link(href="/public/css/style.css", rel="stylesheet")
  body
    h1 Welcome to #{title}
    p.
      Checkout the files to see how it is organized.
    p
        a(href="/chat") Go to chat
    hr