doctype html
html
  head
    title Your basic web app structure
    link(href="/public/css/style.css", rel="stylesheet")
  body
    h1 Welcome to #{title}
    p
      | Checkout the files to see how it is organized.
    p
      | Here is an example url
    a(href="/comments/10") Comment with id 10
